body {
    font-family: "Lato", sans-serif;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(233, 62, 119);
        padding: 5px 10px;

        .title {
            font-size: 40px;
            font-weight: 700;

            a {
                color: white;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            gap: 15px;

            select {
                color: white;
                background: none;
                border: none;
                outline: none;
            }

            .burger-menu {
                position: relative;

                .burger-icon-btn {
                    background: none;
                    border: none;
                    cursor: pointer;
                }

                .menu {
                    position: absolute;
                    display: none;
                    background-color: white;
                    padding: 10px;
                    top: 50px;
                    right: 0px;
                    z-index: 2;
                    
                    li {
                        margin-top: 5px;

                        a {
                            color: rgb(233, 62, 119);
                        }
                    }
                }
            }
        }

        img {
            width: 40px;
            height: 40px;
        }
    }

    main {
        background-color: rgb(228, 228, 228);

        .search {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background-color: rgba(243, 167, 229, 0.484);

            input[type="text"] {
                padding: 5px 20px;
                border: 2px solid rgb(202, 127, 152);
                border-radius: 5px;
                outline: none;
            }

            select {
                color: rgb(0, 86, 147);
                background: none;
                border: none;
                outline: none;
            }
        }

        .breadcrumbs {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;
            margin: 10px 10px 0 10px;

            img {
                width: 15px;
                height: 15px;
            }

            a {
                text-decoration: underline;
                color: rgb(0, 86, 147);
            }
        }

        .master {
            margin: 10px 10px;
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 20px 30px;
                background-color: rgba(152, 171, 207, 0.35);

                .card-icons {
                    
                    .max {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        background-color: rgb(233, 62, 119);
                        color: white;
                        padding: 7px;
                        border-radius: 5px;
                    }

                    .light {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        background-color: white;
                        color: rgb(22, 128, 22);
                        padding: 7px;
                        border-radius: 5px;

                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }

                .master-title {
                    font-size: 30px;
                    font-weight: 700;
                }

                .online{
                    color: rgb(22, 128, 22);
                }

                .card-rating {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    margin-top: 10px;

                    h3 {
                        font-weight: 700;

                        a {
                            color: rgb(0, 86, 147);
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                gap: 5px;
                margin: 7px 0 ;

                button {
                    background-color: white;
                    padding: 7px 15px;
                    width: 25%;
                    border: none;
                    box-shadow: 0 0 2px black;
                    border-radius: 5px;
                    color: rgb(0, 86, 147);
                    cursor: pointer;
                }

                button:hover {
                    transition: all 0.5s;
                    background-color: rgb(233, 62, 119);
                    color: white;
                }
            }

            .about {
                display: flex;
                flex-direction: column;
                text-align: left;
                gap: 20px;
                padding: 25px 15px 0 15px;
                background-color: white;

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 700;

                    img {
                        width: 15px;
                        height: auto
                    };
                }

                span {
                    font-weight: 700;
                }

                .about-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 5px;

                    button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        width: 50%;
                        padding: 5px;
                        color: white;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    .about-btn-call {
                        background-color: rgb(0, 87, 163);

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .about-btn-book {
                        background-color: rgb(0, 125, 0);

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 368px) {
    main {
        .master {
            .card {
                img {
                    width: 120px;
                    height: 120px;
                }

                p {
                    font-size: 12px;
                }

                .card-rating {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .master-title {
                    font-size: 20px !important;
                    font-weight: 500;
                }
            }

            .about {
                .about-buttons {
                    .about-btn-call, .about-btn-book {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        .breadcrumbs {
            gap: 2px;

            a {
                font-size: 12px;
            }
        }
    }
}